# GIT-NPM common
# --------------
# All projects

**/.DS_Store
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
node_modules
/coverage
/.nyc_output
/.nyc_tmp
*.sublime-project
*.sublime-workspace
tmp/*
*.swp

# Project-specific

alerts.json
storage.json
package-lock.json
recorder.pcm
snowboy/build
snowboy/lib/node/binding/Release/
test.wav
dcs_config.js
wake.pcm


# GIT-specific
# ------------
# All projects
