module.exports = {
    "boundary": "___dumi_avs_client_wangpeng20___",
    "directive_uri": "/dcs/v1/directives",
    "events_uri": "/dcs/v1/events",
    "ping_uri": "/dcs/v1/ping",
    "device_id": "wangpeng20_default",


    "mplayer_proxy":{
        "port":8765,
    },



    "host": "dueros-h2.baidu.com",
    "ip": "dueros-h2.baidu.com",
    "downstream_protocol": "http2",
    





    //"avs_protocol":true,
    //"avs_directive_uri":"/dcs/avs-compatible-v20160207/directives",
    //"avs_events_uri":"/dcs/avs-compatible-v20160207/events",
    //"avs_ping_uri":"/dcs/v1/ping",

    //"ip":"cp01-liufeng27.epc.baidu.com:8801",
    //"downstream_protocol":"http",

    //"ip":"10.57.13.200",
    //"downstream_protocol":"http2",

    //"host":"dueros-h2.baidu.com",
    //"ip":"10.145.83.123:8801",
    //"downstream_protocol":"http",

    //"host":"dueros-h2-debug.baidu.com",
    //"ip":"dueros-h2-debug.baidu.com",


    "schema": "https://",
    "protocol": "http2",

    "event_header": {
        //这个是沙盒
        //"from_mac":"1",
        //"debug_boss":"host.baidu.com:8888",
    },

    //"downstream_protocol":"http",

    "rec_env": {},
    "play_env": {},


    "rec_sample_rate": "44100",
    //"rec_bits":"16",
    "rec_bits": "32",
    "rec_channel": "2",

    "rec_cmd": "/usr/local/bin/rec",
    "play_cmd": "/usr/local/bin/play",
    //"play_cmd":"/bin/cat",
    "sox_cmd": "/usr/local/bin/sox",


    /*
     * raspberrypi
    "rec_env":{
        "AUDIODEV":"hw:1,0"
    },
    "play_env":{
        "AUDIODEV":"hw:0,0"
    },

    "rec_cmd":"/usr/bin/rec",
    "play_cmd":"/usr/bin/play",
    "sox_cmd":"/usr/bin/sox",
    */
    "mplayer_options":{"args":"-cache 20000 -vo null"},

    "oauth_token": ""
};
